* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2866ff;
}

a {
  color: white;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  padding: 1.5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100%;
}

.wrapper {
  height: 100%;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #5781ff;
  background-image: url("./pics/bg.png");
}

img {
  display: block;
  width: 320px;
  /* height: 115px; */
}

.maincontent {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scheme-container {
  width: 56%;
  max-width: 595px;
  border: 1px solid black;
}

.scheme {
  padding: 0.2rem;
  padding-left: 2rem;
  width: 100%;
  max-width: 580px;
  max-height: 340px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.4rem;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.buttons {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons__add {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.buttons__controls {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reset-btn {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  padding: 1rem;
  color: #d10000;
  border: 1px solid #d10000;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.reset-btn:hover {
  background-color: #d10000;
  color: white;
  transition: background-color 500ms linear;
}

.btn {
  width: 49%;
  font-weight: 700;
  color: #2866ff;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #2866ff;
  border-radius: 5px;
  transition: background-color 1s ease-in;
}

.btn:hover {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.58);
}

.save-btn {
  background-color: yellowgreen;
  color: white;
  transition: all 400ms linear;
}

.save-btn:disabled {
  background-color: #ccc;
  color: white;
  cursor: not-allowed;
}

.save-btn:hover {
  box-shadow: 2px 2px 10px 2px rgba(109, 192, 130, 0.58);
}

.save-btn:disabled:hover {
  box-shadow: none;
}

.footer {
  margin-bottom: 5rem;
}

.footer__info {
  border-radius: 0px;
  background-color: #2866ff;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}